%h1 Listing links

%table
  %tr
    %th Identifier
    %th
    %th
    %th

  - @links.each do |link|
    %tr
      %td= link.identifier
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Link', new_link_path
