%h1.title TinyClone
- unless @link.nil?
  .success
    %code= @link.url.original
    has been shortened to 
    %a{:href => "/#{@link.identifier}"}
      = "http://#{request.env["HTTP_HOST"]}/#{@link.identifier}"
    %br
    Go to 
    %a{:href => "links/#{@link.identifier}/info"}
      = "http://#{request.env["HTTP_HOST"]}/links/#{@link.identifier}/info"
    to get more information about this link.
- if flash[:error]
  .error= flash[:error]

= render :partial => "form"

%p  
%small copyright &copy;
%a{:href => 'http://blog.saush.com'}
  Chang Sau Sheong
%p
  %a{:href => 'http://github.com/sausheong/tinyclone'}
    Full source code
